<div class="galleria">

<img src="../uploads/pictures/1.jpg">
<img src="../uploads/pictures/photo_2024-11-02_00-41-32.jpg">
<img src="../uploads/pictures/photo_2024-11-02_01-26-21.jpg">
<img src="../uploads/pictures/photo_2024-11-02_01-28-09.jpg">
<img src="../uploads/pictures/photo_2024-11-02_01-31-17.jpg">
<img src="../uploads/pictures/photo_2024-11-02_23-42-35.jpg">
<img src="../uploads/pictures/photo_2024-11-04_16-46-55.jpg">
<img src="../uploads/pictures/photo_2024-11-05_01-31-28.jpg">
<img src="../uploads/pictures/photo_2024-11-22_00-16-37.jpg">
<img src="../uploads/pictures/photo_2024-11-28_01-33-57.jpg">
<img src="../uploads/pictures/photo_2024-11-30_07-25-35.jpg">
<img src="../uploads/pictures/photo_2024-12-02_01-00-31.jpg">
<img src="../uploads/pictures/photo_2024-12-03_03-23-15.jpg">
<img src="../uploads/pictures/photo_2024-12-04_03-36-32.jpg">
<img src="../uploads/pictures/photo_2024-12-05_04-14-07.jpg">
<img src="../uploads/pictures/photo_2024-12-05_18-22-23.jpg">

</div>
